footer {
    background-color: $green;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    opacity: 0.9;

    a {
        color: inherit;
        font-weight: bold;
        text-decoration: none;
    }
}
