@import "./layout.scss";
@import "./header.scss";

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: $dark;
}

.banner {
    width: 100%;
    height: 400px;
    background: red;

    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;

    @media screen and (max-width: $mobile-width) {
        height: 200px;
    }
}

section {
    margin: 40px 0;

    &.document {
        .document-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;

            @media screen and (max-width: $mobile-width) {
                grid-template-columns: 1fr;
            }

            a {
                text-decoration: none;
                color: inherit;

                .document {
                    background-color: $green;
                    color: #fff;
                    padding: 20px;

                    height: 100px;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;

                    overflow: hidden;
                    position: relative;

                    &::before {
                        content: "\E916";
                        font-family: LineIcons !important;
                        font-size: 100px;
                        color: #fff;
                        transform: scale(-1, 1);
                        left: -20px;
                        top: -20px;
                        opacity: 0.5;
                        position: absolute;
                    }

                    &:hover {
                        opacity: 0.9;
                    }

                    .title {
                        font-weight: bold;
                        font-size: 20px;
                        display: block;

                        text-align: right;
                    }
                }
            }
        }
    }

    &.videos {
        .video-container {
            // display: flex;
            // justify-content: flex-start;
            // flex-direction: row;
            white-space: nowrap;

            .video {
                background-color: rgba(0, 0, 0, 0.05);
                background-size: cover;
                background-position: center;
                width: 320px;
                height: 160px;
                position: relative;
                cursor: pointer;
                display: inline-block;

                &:hover {
                    opacity: 0.9;
                }

                &:not(:last-child) {
                    margin-right: 20px;
                }

                &::after {
                    content: "\E9C2";
                    font-family: LineIcons !important;
                    font-size: 40px;
                    position: absolute;
                    color: #000;
                    background-color: rgba(255, 255, 255, 0.3);
                    padding: 20px;
                    border-radius: 50px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    &.agenda {
        .agenda-container {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;

            a {
                color: inherit;
                text-decoration: none;
                .agenda {
                    width: 180px;
                    height: 150px;
                    background: $red;
                    color: #fff;
                    padding: 20px;
                    display: inline-block;
                    overflow: hidden;

                    position: relative;

                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;

                    margin-right: 20px;

                    &::before {
                        content: "\E988";
                        font-family: LineIcons !important;
                        font-size: 100px;
                        color: #fff;
                        transform: scale(-1, 1);
                        left: -20px;
                        top: -30px;
                        opacity: 0.5;
                        position: absolute;
                    }

                    .title {
                        display: block;
                        text-align: right;
                    }

                    .date {
                        font-weight: bold;
                        text-align: right;
                        margin-bottom: 10px;
                        // &::before {
                        //     content: "\E988";
                        //     font-family: LineIcons !important;
                        //     font-size: 20px;
                        //     color: #fff;
                        //     margin-right: 5px;
                        // }
                    }
                }
            }
        }
    }
}

footer {
    background-color: $green;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    opacity: 0.9;

    a {
        color: inherit;
        font-weight: bold;
        text-decoration: none;
    }
}

button.suggestions {
    position: relative;
    margin: 20px auto;
    left: 50%;
    transform: translateX(-50%);
    // bottom: 40px;
    // right: 20px;
    height: 60px;
    background-color: $red;
    padding: 0 30px;
    border-radius: 30px;
    color: #fff;
    z-index: 2;
    border: none;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    outline: none;

    &:hover {
        opacity: 0.9;
    }

    i {
        margin-right: 10px;
        font-size: 18px;
    }
}

.carousel {
    overflow: scroll;

    @media screen and (max-width: $mobile-width) {
        width: calc(100vw);
        margin-left: -20px;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .inner-carousel {
        @media screen and (max-width: $mobile-width) {
            padding-left: 20px;

            .video:last-child {
                margin-right: 20px;
            }
        }
    }
}

button.carousel-back,
button.carousel-forward {
    background-color: transparent;
    position: absolute;
    bottom: 90px;
    font-size: 40px;
    transform: translateY(+50%);

    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        color: $red;
    }
}

button.carousel-back {
    left: -60px;
}

button.carousel-forward {
    right: -60px;
}
